# SQL Practice

#### World Database

In [ ]:
# What languages are spoken in Santa Monica?
'''
select Language, Percentage
from city
join countrylanguage on countrylanguage.countrycode = city.countrycode
where countrylanguage.CountryCode = 'USA' and city.Name = 'Santa Monica'
order by Percentage asc
;
'''

In [ ]:
# How many different countries are in each region?
'''
select Region, Count(Region) as num_countries
from country
Group by Region
Order by num_countries asc
;
'''

In [ ]:
# What is the population for each region?
'''
select Region, sum(Population) as population
from country
Group by Region
Order by population desc
;
'''

In [ ]:
# What is the population for each continent?
'''
select Continent, Sum(Population) as Population 
from country
group by Continent
order by Population desc;
'''

In [ ]:
# What is the average life expectancy globally?
'''
select avg(LifeExpectancy) as LifeExpectancy 
from country
;
'''

In [ ]:
# What is the average life expectancy for each region, each continent? Sort the results from shortest to longest
'''
select Continent, avg(LifeExpectancy) as LifeExpectancy 
from country
group by Continent
order by LifeExpectancy asc
;

select Region, avg(LifeExpectancy) as LifeExpectancy 
from country
group by Region
order by LifeExpectancy asc
;
'''

In [ ]:
# Find all the countries whose local name is different from the official name
'''
select c.Name, c.LocalName
from country as c
where c.Name != c.LocalName 
;
'''

In [ ]:
# How many countries have a life expectancy less than x?
'''
select c.Name, c.LifeExpectancy, c.Continent
from country as c 
where c.LifeExpectancy <= 50
order by LifeExpectancy asc
;
'''

In [ ]:
# What is the city name, district, county, region, and content of each city in the database?
'''
select city.name as City_Name, District, c.Name as Country, Region, Continent 
from city
join country as c on c.Code = city.CountryCode;
'''

In [ ]:
# What is the life expectancy in city x?
'''
select city.name as City_Name, LifeExpectancy 
from city
join country as c on c.Code = city.CountryCode;
'''

#### Sakila Database

In [ ]:
# Display the first and last names in all lowercase of all the actors.

'''
SELECT lower(first_name), lower(last_name)
FROM actor;
'''

In [ ]:
# You need to find the ID number, first name, and last name of an actor, of whom you know only the first name, 
#"Joe." What is one query would you could use to obtain this information?

'''
SELECT actor_id, first_name, last_name
FROM actor
WHERE first_name LIKE '%Joe';
'''

In [ ]:
# Find all actors whose last name contain the letters "gen":

'''
SELECT actor_id, first_name, last_name
FROM actor
WHERE last_name LIKE '%gen%';
'''

In [ ]:
# Find all actors whose last names contain the letters "li". 
# This time, order the rows by last name and first name, in that order.
'''
SELECT actor_id, first_name, last_name
FROM actor
WHERE last_name LIKE '%li%'
Order by last_name, first_name;
'''

In [ ]:
# Using IN, display the country_id and country columns for the following countries: 
# Afghanistan, Bangladesh, and China:
'''
SELECT country_id, country
FROM country
WHERE country in ('Afghanistan', 'Bangladesh','China');
'''

In [ ]:
# List the last names of all the actors, as well as how many actors have that last name.
'''
SELECT last_name, count(last_name)
FROM actor
group by last_name
;
'''

In [ ]:
# List last names of actors and the number of actors who have that last name, 
# but only for names that are shared by at least two actors
'''
SELECT last_name, count(last_name) as count 
FROM actor
GROUP BY last_name
HAVING COUNT(last_name)>=2
;
'''

In [ ]:
# You cannot locate the schema of the address table. Which query would you use to re-create it?
'''
create table address_new (
    address_id integer(11) NOT NULL,
    address varchar(30) NOT NULL,
    adress2 varchar(30) NOT NULL,
    district varchar(30) NOT NULL,
    city_id integer(11) NOT NULL,
    postal_code integer(11) NOT NULL,
    phone integer(10) NOT NULL,
    location varchar(30) NOT NULL,
    last_update datetime);

'''

In [ ]:
# Use JOIN to display the first and last names, as well as the address, of each staff member.
'''
select staff.first_name, staff.last_name, address.address
from staff
join address on address.address_id = staff.address_id
;
'''

In [ ]:
# Use JOIN to display the total amount rung up by each staff member in August of 2005.
'''
select first_name, last_name, count(payment.amount) as total_rung_up
from staff
join payment on payment.staff_id = staff.staff_id
Where month(payment.payment_date) = 8
group by payment.staff_id
;
'''

In [ ]:
# List each film and the number of actors who are listed for that film.
'''
select f.title, count(fa.actor_id) as actor_count
from film as f
join film_actor as fa where fa.film_id = f.film_id
group by f.title
;
'''