1. Write a query to to find all employees whose last name starts and ends with 'E'. Use concat() to combine their first and last name together as a single column named full_name.

In [ ]:
'''
select
concat(first_name, ' ', last_name) as full_name
from employees
where last_name like 'E%E'
order by last_name
;
'''

2. Convert the names produced in your last query to all uppercase.

In [ ]:
'''
select
concat(UPPER(first_name), ' ', UPPER(last_name)) as full_name
from employees
where last_name like 'E%E'
order by last_name
;
'''

3. Find all employees hired in the 90s and born on Christmas. Use datediff() function to find how many days they have been working at the company (Hint: You will also need to use NOW() or CURDATE()),

In [ ]:
'''
select
birth_date, concat(first_name, ' ', last_name) as full_name,
datediff(curdate(),hire_date) as tenure
from employees
where birth_date like '%%%%-12-25'
order by tenure desc
;
'''

4. Find the smallest and largest current salary from the salaries table.

In [ ]:
'''
select 
concat(e.first_name, " ", e.last_name) as full_name,
s.salary
from salaries as s
join employees as e on e.emp_no = s.emp_no
where s.to_date > curdate()
order by salary desc
;
'''

5. Use your knowledge of built in SQL functions to generate a username for all of the employees. A username should be all lowercase, and consist of the first character of the employees first name, the first 4 characters of the employees last name, an underscore, the month the employee was born, and the last two digits of the year that they were born. Below is an example of what the first 10 rows will look like:

In [ ]:
'''
select
CONCAT(SUBSTR(LOWER(first_name), 1, 1), 
SUBSTR(LOWER(last_name), 1, 4),
"_",
SUBSTR(birth_date, 6, 2),
SUBSTR(birth_date, 3, 2)) as user_name,
first_name,
last_name,
birth_date
from employees
limit 5
;
'''