# Sub-querry Practice

1. Find all the current employees with the same hire date as employee 101010 using a sub-query.

In [ ]:
'''
SELECT
e.first_name,
e.last_name,
e.hire_date as hire_date_new
from employees as e
join salaries as s on s.emp_no = e.emp_no and s.to_date > curdate()
Where e.hire_date =
(SELECT
hire_date
from employees
where emp_no = '101010')
;
'''

2. Find all the titles ever held by all current employees with the first name Aamod.

In [ ]:
'''
select 
distinct(t.title)
from titles as t
where t.emp_no IN
(
Select
e.emp_no
from employees as e
join salaries as s on s.emp_no = e.emp_no and s.to_date > curdate()
where e.first_name = 'Aamod'
)
;
'''

3. How many people in the employees table are no longer working for the company? Give the answer in a comment in your code.

In [ ]:
'''
select count(e.emp_no) - (select count(e.emp_no)
from employees as e
join salaries as s on s.emp_no = e.emp_no and s.to_date > curdate()) as ex_employees
from employees as e
;
'''

4. Find all the current department managers that are female. List their names in a comment in your code.

In [ ]:
'''
select concat(e.first_name, ' ', e.last_name) as full_name
from employees as e
join dept_manager as dm on dm.emp_no = e.emp_no
where e.gender = 'F' and dm.to_date > curdate()
;
'''

5. Find all the employees who currently have a higher salary than the companies overall, historical average salary.

In [ ]:
'''
select e.emp_no, e.first_name, e.last_name, s.salary
from employees as e
join salaries as s on s.emp_no = e.emp_no and s.to_date > curdate()
where s.salary > (select round(avg(s.salary),2) as mean_salary
from employees as e
join salaries as s on s.emp_no = e.emp_no)
order by salary asc
;
'''

6. How many current salaries are within 1 standard deviation of the current highest salary? (Hint: you can use a built in function to calculate the standard deviation.) What percentage of all salaries is this?

In [ ]:
# Salaries with in one standard deviation
'''
SELECT count(salary) as salary_1_sd_from_max
from salaries
where salary >
(select max(salary)
from salaries as s
where s.to_date > curdate())
-
(SELECT round(stddev(s.salary),2) as standard_deviation
from salaries as s
where s.to_date > curdate())
;
'''

# BONUS

7. Find all the department names that currently have female managers.

8. Find the first and last name of the employee with the highest salary.

9. Find the department name that the employee with the highest salary works in.